<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunketang.orders.mapper.OrdersGoodsMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into yunketang_orders_goods(order_id, goods_id, goods_type, goods_name, goods_price, goods_detail)
        value (#{orderId},#{goodsId},#{goodsType},#{goodsName},#{goodsPrice},#{goodsDetail})
    </insert>

</mapper>
